.header-section-1 {
  padding-top: 3em;
  background-color: var(--backcolour);
  width: 100%;
}

.content {
  padding-top: 3em;
  padding-bottom: 3.5em;
  padding-left: 10%;
  padding-right: 10%;
}

.content-section {
  background-color: var(--backcolour);
  align-content: center;
  align-items: center;
}

.content-section-2 {
  background-color: var(--backcolourtwo);
  align-content: center;
  align-items: center;
}

.shape-wave {
  background: #d84848;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.ll-image {
  height: 13em;
  margin: 1em;
}

.row {
  text-align: center;
}

#desc {
  margin-left: 20%;
  margin-right: 20%;
}
