:root {
  --logocolour: #ebfffb;
  --headerone: #a9dfdb;
  --headertwo: #b2e7e3;
  --boldheading: #208881;
  --backcolour: #dadada;
  --backcolourtwo: #e0eaec;
  --red: red;
  --blue: #0033ff;
}

/* fonts */

@font-face {
  font-family: "Kanit";
  src: local("Kanit"), url(./Fonts/Kanit/Kanit-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-Bold";
  font-weight: 900;
  src: local("Kanit"), url(./Fonts/Kanit/Kanit-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-Black";
  font-weight: 900;
  src: local("Kanit"), url(./Fonts/Kanit/Kanit-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-Light";
  font-weight: 300;
  src: local("Kanit-Light"),
    url(./Fonts/Kanit/Kanit-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-ExtraLight";
  font-weight: 200;
  src: local("Kanit-ExtraLight"),
    url(./Fonts/Kanit/Kanit-ExtraLight.ttf) format("truetype");
}

h1 {
  font-family: Kanit;
  font-size: xx-large;
  color: #292929;
}

p {
  font-family: Kanit-Light;
  font-size: small;
  font-weight: 300;
}

h3 {
  font-family: Kanit;
  font-size: medium;
}

h4 {
  font-family: Kanit-ExtraLight;
}

body {
  background-color: var(--backcolour);
  margin: 0;
  font-family: Kanit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
